.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
    padding: 2rem 4rem 2rem 4rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.nav-links {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    transition: var(--transition-medium);
}

.nav-links a:hover {
    transform: var(--scale-medium);
}